.container1 {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: 100px;
  grid-auto-flow: dense;
}
.horizontal {
  grid-column: span 2;
}
.vertical {
  grid-row: span 2;
}
.big {
  grid-column: span 2;
  grid-row: span 2;
}

.container1 > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#lightbox-img {
  margin: auto;
  height: 85vh;
  max-width: 90vw;
  object-fit: cover;
}

#lightbox {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /*optional bg color*/
  background-color: rgba(
    196,
    155,
    237,
    0.52
  ); /*the following isn't necessary but will help center everything once we add buttons*/
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#lightbox button {
  color: white;
  border: 2px solid #a167da;
  background-color: #a167da;
  font-size: 1.2rem;
}
